#carousel{
    width: 100%;
    border: 0.1rem solid black;
}
#carouselExampleIndicators{
    width: 100%;
}
#carousel img{
    width: 100%;
}
#carousel .carousel-inner .carousel-item img{
    width: 100%;
}