html,
body{
    height: 100%;
    width:99%;
    margin-left: 0.1rem;
}
 .navbar{
 width: 100%;
 position: fixed;
 top: 0px;
 z-index: 500;	
 }
 .imgCls{
    width :90%; 
    height :100%; 
  }
form{
    width: 80%;
}

#footer-main{
    width: 100%;
     margin-left: 1%;
    background-color: whitesmoke;
}
.row{
width: 99%;
}

.navbar,#carousel,.card-deck,.card,.myBadge,.feedbackForm,.text-lg-center{
margin-bottom: 2%;
}

@mixin setCustomColor($myColor){
    color:$myColor;
 }
 
ul li a{
    @include setCustomColor(black);
}
 .col-sm-3{
    p {
        a{
            @include setCustomColor(black);
        }
    }
}
