html,
body{
    height: 100%;
    width:99%;
    margin-left: 0.1rem;
}
 .navbar{
 width: 100%;
 position: fixed;
 top: 0px;
//  overflow: hidden;
 z-index: 500;	
 }

#cover{
    background: #222 url('img/stars.jpg') center center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}
form{
    width: 80%;
}
.imgCls{
    width :90%; 
    height :100%; 
  }
#cover-caption{
    width: 100%;
}

#footer-main{
    background: #222;
    color: brown;
    font-size: 0.8rem;
    padding: 2.5rem 0;
}

#footer-main{
    width: 100%;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    background-color: whitesmoke;
}

#navbarSupportedContent{
     #loginButton{
        background-color: pink;
     }
}
.text-lg-center{
    width: 100%;
    align-self: auto;
}
.pagination{
    margin-left: 30%;
}
.text-lg-center .pagination .page-item a{
width: 100%;
color: green;
align-items: center;
 }

#carousel{
    width: 100%;
    border: 0.1rem solid black;
}
#carouselExampleIndicators{
    width: 100%;
}
#carousel img{
    width: 100%;
}
#carousel .carousel-inner .carousel-item img{
    width: 100%;
}

.feedbackForm{
     margin-left: 2%;
}

.feedbackSection{
    background-color: grey;
    border:1px solid black;
}
  .card-group .card{
  margin-bottom: 0.1px;
  }
  .card-group .card .card-img{
  height: 28rem;
  height: 100%;
  }
  .card .card-img .card-img-overlay .card-title,.card-title{
    color: black;
 }
.card .card-img .card-img-overlay .card-title .card-text{
    color:darkblue;
    font-style: inherit;
  }
  .card .card-img .card-img-overlay .card-title,.card-text2{
    color: green;
    font-style: italic;
    }
   
    .myBadge {
        background-color: whitesmoke;
        font-family: Tangerine;    
        color: blue;
        margin-left: 2%;
            .badge-secondary:hover{
                text-decoration: underline;
                cursor: pointer;
        }
    }
  