$success:blue;
@import '../node_modules/bootstrap/scss/bootstrap';
@import 'layout';
@import 'carousel';

$green-color:green;
%leftMargin {
    margin-left: 2%;
}

.feedbackForm{
    @extend %leftMargin;
}

.feedbackSection{
    background-color: grey;
    border:1px solid black;
}
  .card-deck .card{
  margin-bottom: 0.1px;
  }
  .card-deck .card .card-img{
  height: 28rem;
  height: 100%;
  }



  .card .card-img .card-img-overlay .card-title{
    color: blue;
 }
.card .card-img .card-img-overlay .card-title .card-text{
    color:darkblue;
    font-style: inherit;
  }
  .card .card-img .card-img-overlay .card-title,.card-text2{
     color: $green-color;
     font-style: italic;
    }
   
    .myBadge {
        span{
             color:black;
             font-style: italic;    
        }
        background-color: whitesmoke;
        // font-family: Tangerine;    
        color: blue;
        @extend %leftMargin;
            .badge-secondary:hover{
                text-decoration: underline;
                cursor: pointer;
        }
    }
  
    .text-lg-center{
        width: 100%;
        align-self: auto;
    }
    
    .text-lg-center {
        .pagination {
            .page-item {
             a{
    width: 100%;
    color:$green-color;
    align-items: center;
     }}}}

       @media (max-width: 325px) {
        // .pagination {
        // margin-left: 25%;
        // }
        .imgCls{
            width :40%;
            height: 40%;
        }

        #carousel{
            margin-top: 35%;
        }
            .myBadge {
                h1{
                font-size: 20px;
                }
                h2{
                    font-size: 15px;
                }
                h3{
                    font-size: 12px;
                }
            }
    }

    @media (max-width: 770px) {
       .navbar-toggler{
        margin-right: 20%;
        }
    }


    .form-group .col-sm-10 .btn-primary{
        background-color: orange;
        color: black;
        font-style: oblique;
    }
    .card-deck .card .btn-primary{
        background-color: orange;
        color: black;
        font-style: oblique;
    }